* {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
}

body {
       background-color: #3a4a59;
       font-family: Arial, Helvetica, sans-serif;
}

ul {
       list-style: none;
       padding: 0;
       margin: 0;
}
a {
       text-decoration: none;
}
input:focus {
       outline: none;
}
.holder {
       margin-left: auto;
       margin-right: auto;
       background-color: #fff;
}

/* Small Screen */

@media (min-width: 768px) {
       .holder {
              width: 100%;
       }
}

/* Medium Screen */

@media (min-width: 992px) {
       .holder {
              width: 75%;
       }
}

/* Large Screen */

@media (min-width: 1200px) {
       .holder {
              width: 50%;
       }
}

/* Start Header */

.header {
       margin: 20px auto;
       width: 60%;
       color: #fff;
       display: flex;
       justify-content: center;
       align-items: center;
}

.header i {
       font-size: 35px;
       padding-right: 20px;
}
@media (max-width: 767px) {
       .header i {
              font-size: 30px;
       }
}
.header h1 {
       font-size: 40px;
       font-weight: 200;
       margin: 0;
}
@media (max-width: 767px) {
       .header h1 {
              font-size: 30px;
       }
}
/* End Header */

/* Start Poster */

.poster .poster-image {
       width: 100%;
}

.poster .poster-image img {
       width: 100%;
}

/* End Poster */

/* Start coffee */

.coffee {
       padding-top: 30px;
}

.coffee h2 {
       color: #b38e73;
       font-size: 30px;
       font-weight: 200;
       text-align: center;
}

.coffee table {
       padding-top: 30px;
       font-size: 18px;
       width: 96%;
       margin: auto;
       border: 0;
       border-spacing: 0;
}
@media (max-width: 767px) {
       .coffee table {
              font-size: 16px;
       }
}
.coffee table tr td {
       padding: 13px;
       text-align: center;
       color: #666;
}
@media (max-width: 767px) {
       .coffee table tr td {
              padding: 10px;
       }
}
.coffee table tr td:first-of-type {
       text-align: left;
}

.coffee table tr:first-of-type {
       background-color: #c5ccd6;
}

.coffee table tr:first-of-type td {
       color: #222;
       text-align: center;
}

.dark {
       background-color: #e5e8ed;
}

.coffee table tr td {
       text-align: center;
}

/* End coffee*/

/* Start Tea */

.tea {
       padding-top: 70px;
}

.tea h2 {
       color: #b38e73;
       font-size: 30px;
       font-weight: 200;
       text-align: center;
}

.tea table {
       padding-top: 30px;
       font-size: 18px;
       width: 96%;
       margin: auto;
       border: 0;
       border-spacing: 0;
}
@media (max-width: 767px) {
       .tea table {
              font-size: 16px;
       }
}
.tea table tr td {
       padding: 13px;
       text-align: center;
       color: #666;
}
@media (max-width: 767px) {
       .tea table tr td {
              padding: 10px;
       }
}
.tea table tr td:first-of-type {
       text-align: left;
}

.tea table tr:first-of-type {
       background-color: #c5ccd6;
}

.tea table tr:first-of-type td {
       color: #222;
       text-align: center;
}

.dark {
       background-color: #e5e8ed;
}

.tea table tr td {
       text-align: center;
}

/* End coffee*/

/* Start Special */

.special {
       padding-top: 70px;
}

.special h2 {
       color: #b38e73;
       font-size: 30px;
       font-weight: 200;
       text-align: center;
       padding-bottom: 50px;
}

.special .main-special {
       display: flex;
       justify-content: space-around;
       flex-wrap: wrap;
}

.special .main-special .type {
       flex-basis: 33%;
}
@media (max-width: 767px) {
       .special .main-special .type {
              flex-basis: 100%;
              margin-bottom: 20px;
       }
}
.special .main-special .type .type-image {
       padding: 10px;
}
.special .main-special .type .type-image img {
       width: 100%;
       height: 200px;
       border-radius: 5px;
}

.special .main-special .type .type-info {
       padding-top: 10px;
}

.special .main-special .type .type-info p {
       font-size: 18px;
       text-align: center;
       line-height: 2;
}

/* End Special */

/* Start Hr */

hr {
       padding: 1px;
       background-color: #ccc;
       width: 60%;
       margin: auto;
       border: none;
       margin-top: 50px;
}

/* End Hr */

/* Start About-Us */

.about {
       width: 72%;
       margin: auto;
       padding-top: 50px;
}

.about h2 {
       color: #b38e73;
       font-size: 30px;
       font-weight: 200;
       text-align: center;
       padding-bottom: 30px;
}

.about p {
       color: #777;
       font-size: 19px;
       line-height: 1.6em;
}

.about p:last-of-type {
       padding-top: 25px;
}

/* End About-Us */

/* Start Talk */

.talk {
       width: 72%;
       margin: auto;
       padding-top: 50px;
}

.talk h2 {
       color: #b38e73;
       font-size: 30px;
       font-weight: 200;
       text-align: center;
       padding-bottom: 30px;
}

.talk p {
       color: #777;
       font-size: 19px;
}

.talk .icons {
       padding-top: 30px;
       text-align: center;
       padding-bottom: 40px;
}

.talk .icons ul {
       list-style: none;
}

.talk .icons ul li {
       display: inline-block;
       padding-right: 10px;
}

.talk .icons ul li a {
       color: #fff;
       padding: 10px;
       background-color: #c6ced8;
       border-radius: 3px;
       display: flex;
       justify-content: center;
       align-items: center;
       transition: 0.3s;
}

.talk .icons ul li a i {
       font-size: 20px;
}

.talk .icons ul li a:hover {
       background-color: #fff;
       color: #c6ced8;
}

/* End Talk */

/* Start Footer */

.footer {
       width: 60%;
       margin: auto;
       text-align: center;
       margin-top: 30px;
       margin-bottom: 20px;
}

.footer p {
       font-size: 18px;
       color: #fff;
       line-height: 1.8;
}

/* End Footer */
